.Cell {
  height: 100px;
  width: 100px;
  border-radius: 1px;
  background-color: #263238;
  transition: background-color 0.7s ease;
}

.Cell-lit {
  background-color: #00bcd4;
  box-shadow: 0 0 1px 0px #00bcd4, 0 0 5px 5px white;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
